.card-con-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .card-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card {
    background-color: #f5f6fa;
    height: 450px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  .card-button {
    position: absolute;
    right: -20px;
    bottom: -20px;
  }
  